.comment-card
  .comment-card__header
    a.comment-card__avatar.avatar(href='#')
      img(
        src= comment.authorImageSrc
        srcset= comment.authorImageSrcSet + ' 2x'
        alt='Аватар пользователя'
      )
    p.comment-card__author= comment.author
  .comment-card__content
    p= comment.content
  if hasDeleteButton
    button.comment-card__delete.js-delete(type='button') Удалить
