section.comments
  .comments__wrapper
    h1.visually-hidden Страница комментариев
    if commentsList
      each ticket in commentsList
        .comments__block
          .comments__header
            a.announce-card(href='#')
              h2.announce-card__title= ticket.ticketHeader.title
              span.announce-card__info
                span.announce-card__price= "₽ " + ticket.ticketHeader.price
                span.announce-card__type= ticket.ticketHeader.type
          ul.comments-list
            each comment in ticket.comments
              li.js-card
                .comment-card
                  .comment-card__header
                    a.comment-card__avatar.avatar(href='#')
                      img(
                        src= comment.authorImageSrc
                        srcset= comment.authorImageSrcSet + ' 2x'
                        alt='Аватар пользователя'
                        )
                    p.comment-card__author= comment.author
                  .comment-card__content
                    p= comment.content
                  button.comment-card__delete.js-delete(type='button') Удалить
